@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<h5>Email confirmed. You may login to proceed now :) </h5>
<partial name="_StatusMessage" model="Model.StatusMessage" />
