
<h2>About</h2>
<div class="container">
    <div  
         class="row align-items-center">
        <div class="col-md-6">
            <p>
                Our journey began with a shared love of books and a desire to create a space where people could discover new worlds, connect with characters, and ignite their imaginations. We envisioned a bookstore that would be a cornerstone of the community, a place where bookworms could gather, discuss their favorite reads, and find their next literary adventure. <br />
                With a carefully curated collection of books spanning various genres, from classic literature to contemporary bestsellers, we strive to offer something for everyone. Whether you're a seasoned reader or just starting your literary journey, our knowledgeable staff is always on hand to provide personalized recommendations and create a welcoming atmosphere.
            </p>
        </div>
        <div class="col-md-6">

            <img src="~/images/about-img.jpg" alt="About Us Image" class="img-fluid">
        </div>
    </div>
</div>